<div class="card shadow text-center">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.summary}}</p>
        <button class="btn btn-primary">View More</button>
    </div>

    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag text-center bg-primary m-2">{{tag}}</div>
            </div>
        </div>
    </div>
</div>