<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/profile.JPG" alt="Profile Pictute" width="256" height="256" class="rounded-circle">
                <p>
                    Am a software developer with expertise in a range of technologies, I have accumulated a diverse skill set that allows me to tackle a wide variety of projects. My proficiency spans from front-end development with AngularJS to back-end development with Python frameworks like Flask and Django, as well as content management systems like Drupal, and database management with MySQL and PostgreSQL. Additionally, I have experience working with PHP to create web applications and websites.
                </p>
            </div>
        </div>
            
        <div class="col-lg shadow border m-1">
            <!-- Featured Projects -->
            <div class="text-center">
                <h2>Featured Projects</h2>
            </div>
        </div>
    </div>
</div>